mingus~=0.6.1
numpy~=1.21.2
terminalplot~=0.3.0
keras~=2.8.0
ipython~=8.0.1
uvicorn~=0.17.1
fastapi~=0.73.0
pydantic~=1.9.0
imageio~=2.15.0
Pillow~=9.0.1
tensorflow~=2.8.0
matplotlib~=3.5.1

scipy~=1.8.0
scikit-image~=0.19.1