keras==2.6.0
mingus==0.6.1
numpy==1.21.5
pandas==1.3.5
scipy==1.7.1
seaborn==0.11.2
fastapi==0.73.0
uvicorn==0.17.1
terminalplot~=0.3.0
matplotlib~=3.4.3
scikit-image~=0.19.1
imageio~=2.9.0
tensorflow~=2.6.0
ipython~=7.27.0
pydantic~=1.9.0
Pillow~=8.3.1
boto3~=1.20.46